.first__page{
    width: 100%;
    background: url('../image/page_1_background.jpg') center/cover no-repeat;
   
}

.header_1{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    height: 7vw;
    background-color: rgba(242, 120, 92, .7 );
}

.logo_header{
    padding: 1% 1%;
}

#logo_header_travel_portal{
    width: 16vw;
}
#logo_header_for_mobile{
    display: none;
}

.nav_bar_header{
    width: 37vw;
}

.nav_bar_header>dt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_bar_header>dt>dl{
    padding: 0 1% ;
}

.nav_bar_header>dt>dl>a{
    color: var(--color-white);
    font-size:100%;
}

.button_login>button{
    background-color: #0D606F;

    color: var(--color-white);
    height: 4vw;
    width: 10vw;
    font-size:1.6vw;
    border-radius: 1vw;
    border: none; 
}

.button_login>button:hover{
    background-color: var(--color-turquoise);
    cursor: pointer;
}
/*!!!!!!!!!!!menu popup !!!!!!!*/
.login_popup{
    display: none;
    justify-content: center;
   
    position: absolute;
    width: 100vw;
    height: 64.9vw;
    background-color: rgba(62, 60, 60, 0.663);
    top: 0%;
    right: 0%;
}

.flex{
    display: flex;
}
.hidden{
    visibility: hidden;
}

.popup_content{
    width: 51%;
    height: 51vw;
    background-image: linear-gradient(1deg,rgb(128, 170, 178) 45%, #FFFFFF 90%);
    border-radius: 16px;
    border: 1px solid black;
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aleo';
}
.popup_content>h3{
    font-size: 2vw; 
    color: var(--color-turquoise);
    margin-top: 3%;
}
/* sing in with facebook / google */
.popup_sign_with_facebook, .popup_sign_with_google{
    display: flex;
    width: 85%;
    margin-top: 2%;
    height: 9%;
    border-radius: 10px;
    border: none;
    font-size: 1.2vw;
    font-family: 'Red Hat Text';
    align-items: center;
    justify-content: center;
}
.popup_sign_with_facebook{
    background-color: #1877F2;
    color: var(--color-white);
}
#popup_logo_facebook, #popup_logo_google{
    padding-right: 2%;
}
.popup_sign_with_facebook:hover{
    background-color: #2469c5;
    cursor: pointer;
}
.popup_sign_with_google{
    background-color: #FFFFFF;
    color: var(--color-turquoise);
}

.popup_sign_with_google:hover{
    background-color: #ebe5e5;
    cursor: pointer;
}
.popup_line{
    color: var(--color-turquoise);
    padding: 2%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

/*line popup*/
.popup_line:before,
.popup_line:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20vw;
    height: 1%;
    background-color: var(--color-turquoise);
    position: relative;
}

/* sing in with email popup*/
.popup_sign_in_with_mail{
    display: flex;
    width: 100%;
    height: 30vw;

    
    color: var(--color-turquoise);
    align-items: center;
    font-family: 'Aleo';
    font-size: 1.4vw;
    flex-direction: column;
}

#popup_input_type_mail, #popup_input_type_password{
    width: 85%;
    height: 25vw;
    border-radius: 10px;
    border:none;
    padding: 0% 4% ;
    margin: 1.5% 0%;
    background-color: var(--color-white);
    font-family: 'Aleo';
    color: var(--color-turquoise);
    font-size: 1.4vw;
}

.popup_signin{
    display: flex;
    width: 85%;
    margin-top: 2%;
    height: 25vw;
    border-radius: 10px;
    background-color: var(--color-turquoise);
    color: var(--color-white);
    font-size: 1.2vw;
    border: none;
    font-family: 'Red Hat Text';
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

#popup_forgot_password,#popup_link_for_register{
    color: var(--color-turquoise);
    text-decoration: underline;
   
}

hr{
    background-color: #0D606F;
    width: 85%;
    height: 1px;
    border: none;
    margin-bottom: 2vw;
}

#popup_link_for_register{
    text-shadow: none;
}
#popup_dont_have_account{
    text-shadow: 0px 7px 7px rgba(100, 100, 100, 0.815);
    color: rgba(13, 96, 111, 0.50)
}
.popup_signin:hover{
    cursor: pointer;
    background: #2b6b76;
}


.button_for_mobile_menu{
    display: none;
}
.button_for_mobile_menu__burger_menu{
   position: fixed;
    top: 0;
    left: 60%;
    bottom: 0;
    right: 0;
    /*width: 45%;
    height: 30%;*/
    width: 165px;
    height: 250px;
    background-color: #F2785C;
    transform: translateX(0vw);
    transition: all 0.2s;
    padding: 1em;
    border-radius: 10px;
    display: none;
    z-index:99999999;
}
#burger_close{
    left: 85%;
    position: relative;
}
.burger_menu_description{
    padding: 10%;
    color: var(--color-white);
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.burger_menu_description_item{
margin-top: 4%;
}
#button_for_mobile_menu_input{
    display: none;
}

#button_for_mobile_menu_input:checked ~ .button_for_mobile_menu__burger_menu {
    display: block;
}

.plan_your_trip{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    margin: 3% 9% 0%;
}

.plan_your_trip>h1{
    font-family: 'Aleo';

    font-weight: 700;
    font-size: 6vw;
    color: var(--color-white);
}

.plan_your_trip>h4{
    font-family: 'Aleo';
    font-style: Italic;
    font-weight: 700;
    color: var(--color-white);
    margin: 5% 0% 3%;
    font-size: 2vw;
}
.start_search_planning{
    display: flex;
    flex-grow: 2;
    margin: 7% 0% 25% 0%;
    align-items: center;
    /*visibility: hidden;*/
}

/*.start_search_planning:after {
    content: "";
    clear: both;
    display: table;
}*/

::-webkit-input-placeholder {  /* WebKit browsers */
    color: #F2785C;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    line-height: 29px;
 }

#start_search_planning__form_input_search{
    width: 100%;
    height: 8vw;
   
    background: rgba(255, 255, 255, 0.7);
    opacity: 70%;
    border-radius: 16px;
    border: none;
    padding: 10px;
    color: #a95a48;

    font-family: 'Aleo';
     font-style: italic;
     font-weight: 400;
     font-size: 3vw;
    line-height: 29px;

}
#form_input_search__button{
    width: 16vw;
    height: 4.5vw;

    position: absolute;
    left: 61%;
    background: var(--color-turquoise);
    border-radius: 10px;
    
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 1.7vw;
    border: none; 
    color: var(--color-white);
}
#form_input_search__button:hover{
    background: #2b6b76;
    cursor: pointer;
}
