@import 'page_1.css';
@import 'page_2.css';
@import 'page_3.css';

body{
    margin: 0px;
}
a{
    text-decoration: none;
}
a:visited{
    color:  #FFFFFF;
    }

p{
    margin: 0%;
}

* {
    box-sizing: border-box;
    outline: none;
  }

dt>dl{
    margin: 0%;
}

h1{
    margin: 0%;
}

h4{
    margin: 0%;
}

ul{
    padding: 0%;
    margin: 0%;
}

ul>li{
    list-style-type: none;
}

h3{
    margin: 0;
}


:root{
   --color-white: #FFFFFF;
   --color-turquoise:#0D606F;
}


@media screen and (max-width: 1040px) {
    /* header */
    .nav_bar_header>dt>dl>a {
       /* visibility: hidden;*/
       font-size: 70%
    }
    
   
    #story_about_thailand, #story_about_canyonlands_park, #story_about_mountains, #story_about_journey{
            height: 23vw;
    }
    #text_about_thailand>p, #text_about_canyonds_park>p, #text_about_moutains>p, #text_about_journey>p, #text_about_journey>p{
        font-size: 1.8vw;
    }
    
  } 
   @media screen and (max-width: 770px){
    .nav_bar_header>dt>dl>a {
        display: none;
   }
   footer>p{
    display: none;
   }
   footer{
    justify-content: center;  
  }
  #footer_icon{
    margin: 0%;
    width: 33vw;
}

   }
   @media screen and (max-width: 417px){
    #logo_header_travel_portal{
        display: none;
    }
    #logo_header_for_mobile{
        display: block;
        width: 7vw
    }
    .button_for_mobile_menu{
        display: block;
    }
    .button_login{
        display: none;
    }
    .plan_your_trip{
        width: 85%;
    }
    .plan_your_trip>h1, .plan_your_trip>h4{
        display: none;
    }
    .start_search_planning{
        margin: 30% 0% 17% 0%;
    }
    #start_search_planning__form_input_search{
        height: 11vw;
    }
    #button_find_more{
        width: 25vw;
        height: 7vw;
        font-size: 2.5vw;
    }

    #form_input_search__button{
        left: 75%;
        height: 6.5vw
    }
    #button_find_more, .third_page>h2{
         font-weight: 200;
    }
    .stories_about_travel_background{
        height: 120vw;
    }
    .stories_about_travel_and_footer{
        width: 100vw;
        height: 134vw;
    }
    #text_about_thailand>h4, #text_about_canyonds_park>h4, #text_about_moutains>h4, #text_about_journey>h4, #text_about_journey>h4{
        line-height: 11px;
    }
       #image_about_thailand, #image_about_canyonds_park, #image_about_moutains, #image_about_journey{
               width: 31vw;
       }
    footer>p{
        display: none;
    }
    
    #footer_icon{
        width:50vw;
        margin-top: 1%;
    }
    #footer_icon_image{
        width: 9vw;
    }
    .stories_about_travel_and_footer{
        background: url('../image/Rectangle\ 28_for_mobile.jpg') center/cover no-repeat;
    }
    #frame_one_images, #frame_two_images, #frame_three_images{
        width: 17vw;
    }
    .first__page{
        position: relative;
        margin-top: -4%;
        height: 64vw;
    }
    .header_1{
        background-color: rgb(255 255 255 / 0%);
        margin-top: 7%;
        position: absolute;
    }
    
   }

/* for JS click*/
.flex{
    display: flex;
}
.hidden{
    visibility: hidden;
}

.block{
    display: block;
}
.none{
    display: none;
}
